<head>
  <meta charset='UTF-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />

  <!--TODO: meta description tags no more than 165 characters-->
  <meta name='description' content='page oficial imba group' />

  <!--TODO: meta tags SEO-->
  <link rel='canonical' href='http://tudominio.com/la-url-canonica' />
  <!--TODO: meta tags FAVICOM for desktop-->
  <link rel='shortcut icon' href='assets/logo.svg' type='image/x-icon' />
  <!--TODO: meta tags FAVICOM para for mobile devices-->
  <link rel='apple-touch-icon' href='assets/logo.svg' />
  <!--TODO: meta labels change color for mobile devices-->
  <meta name='theme-color' content='#002512' />

  <!--TODO: https://ogp.me/ for social media posts -->
  <meta property='og:title' content='imba' />
  <meta property='og:image' content='https://tudominio.com/assets/logo.svg' />

  <meta
    property='og:image:secure_url'
    content='https://tudominio.com/assets/logo.svg'
  />
  <meta property='og:url' content='https://tudominio.com/index.html' />
  <meta property='og:image:type' content='assets/logo.svg' />
  <meta property='og:image:width' content='400' />
  <meta property='og:image:height' content='300' />
  <meta property='og:image:alt' content='oficial page' />
  <meta name='twitter:card' content='summary' />
  <meta name='twitter:site' content='@imba' />
  <!--TODO:maximum up to 65 characters-->
  <title>{{ title }}</title>
  <!--TODO: font awesome cdn link-->
  <link
    rel='stylesheet'
    href=' https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css'
  />

  <link rel='stylesheet' href='css/scroll.css' />
  <link rel='stylesheet' href='css/theme.css' />
  <link rel='stylesheet' href='css/main.css' />
</head>