<section class="footer">
    <div class="box-container-footer">
      <div class="box">
        <h3>Siguenos por:</h3>
        <a href="#"><i class="fa-brands fa-facebook"></i> Facebook</a>
        <a href="#"><i class="fa-brands fa-twitter"></i>Twitter</a>
        <a href="#"><i class="fa-brands fa-instagram"></i> Instagram</a>
        <a href="#"><i class="fa-brands fa-linkedin"></i> Linkedin</a>
      </div>
      <div class="box">
        <h3>Locaciones</h3>
        <a href="/locaciones">Santa Cruz</a>
        <a href="/locaciones">La Paz</a>
        <a href="/locaciones">Cochabamba</a>
        <a href="/locaciones">El Alto</a>
        <a href="/locaciones">Oruro</a>
        <a href="/locaciones">Sucre</a>
      </div>
      <div class="box">
        <h3>Navegación</h3>
        <a href="/index"><img src="assets/logo.svg" alt="">Página Principal</a>
        <a href="/inicio"><i class="fa-solid fa-house"></i> Inicio</a>
        <a href="/blog.html"><i class="fas fa-blog"></i> Blog</a>
        <a href="/contactate"><i class="fa-solid fa-phone"></i> Contactate</a>
        <a href="/nosotros"><i class="fa fa-building" aria-hidden="true"></i></i> Nosotros</a>
        <a href="/productos"><i class="fa fa-address-book" aria-hidden="true"></i>Nuestros Productos</a>
        <a href="/promociones"><i class="fas fa-shopping-cart"></i> Promociones</a>
      </div>
      <div class="box">
        <h3>Información</h3>
        <a href="#">Santa Cruz +591 3333333</a>
        <a href="#">La Paz +591 2222222</a>
        <a href="#">Cochabamba +591 4444444</a>
        <a href="#">El Alto +591 22222222</a>
        <a href="#">Oruro +591 1111111</a>
        <a href="#">Sucre +591 8888888</a>
        <a href="#">imba@gmail.com</a>
        <a href="#">Central Parque Industrial SC - Bolivia</a>
      </div>
    </div>
    <div class="credit"> copyright @ 2022 by <span>imba</span> company jrcf </div>
  </section>
  <!--end footer section-->
  <button class="scroll-top-btn hidden scroll-btn">&#11014</button>
  <button class="dark-theme-btn">🌙</button>

  <!--TODO: javascript native-->
  <script src="js/script.js" type="module"></script>