<header class='header'>
  <a href='/' class='logo'>
    <img src='assets/logo.svg' alt='logo' />
  </a>
  <nav class='navbar'>
    <a href='/inicio' class='active'>inicio</a>
    <a href='/productos'>productos</a>
    <a href='/nosotros'>nosotros</a>
    <a href='/promociones'>promociones</a>
    <a href='/blog'>blog</a>
    <a href='/contactate'>contactate</a>
  </nav>
  <div class='icons'>
    <i class='fas fa-bars' id='menu-bars'></i>
    <i class='fas fa-heart'></i>
  </div>
</header>