<!DOCTYPE html>
<html lang="es" dir="ltr" data-dark>


<!---TODO: head-->
{{> cssnavbar }}
<!--end head-->

<body data-dark>
  <!--TODO: header-->
 {{> header }}
  <!--end header-->

  <!--TODO: content-->
<div class="error-container">
    <img src="assets/error.png" alt="error">
    <h2>Page Not Fount Error: 404</h2>
    <a href="/inicio">Inicio</a>
</div>
  <!--END content-->

  <!--TODO: footer-->
  <script src="js/script.js" type="module"></script>
  <!--end footer-->
</body>

</html>