<!DOCTYPE html>
<html lang="es" dir="ltr" data-dark>


<!---TODO: head-->
{{> cssnavbar }}
<!--end head-->

<body data-dark>
  <!--TODO: header-->
 {{> header }}
  <!--end header-->

  <!--TODO: content-->
  <section class="resenia" id="resenia">
    <h1 class="heading">Articulos Agroindustriales</h1>
    <div class="resenia-container">
      <div class="resenia-box">
        <img src="assets/about-1.svg" alt="resenia-1">
        <h3>Sanidad Agropecuaria</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel error fugiat quia cupiditate, atque nemo, facere
          in ipsam aliquid, laudantium ea facilis. Id aut rerum hic reiciendis, in facilis praesentium consectetur
          architecto libero dolor. Debitis voluptate hic obcaecati non quae magni amet quaerat fugit molestias ipsa
          officia minima natus ad, temporibus maxime odit. Animi, accusantium. Modi praesentium excepturi dolorem non.
          Eveniet modi provident et fugiat eligendi error! Explicabo quo maiores perspiciatis magnam labore amet dicta
          dolores! Ratione, quas. Earum, aspernatur!</p>
        <blockquote>Ing. David Mal Partida</blockquote>
      </div>

      <div class="resenia-box">

        <h3>Proceso de Inocuidad</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, omnis rerum quas alias tempora maxime.
          Vero numquam voluptatibus assumenda asperiores dignissimos explicabo, quaerat quidem? Laborum dolor est
          voluptatibus magni maxime ipsum incidunt neque voluptate molestias porro labore, mollitia, eum et sunt illo,
          placeat ut! Incidunt aperiam reiciendis minima ipsam aspernatur? Ullam est dolor natus accusamus? Impedit
          corporis quod, blanditiis voluptates molestias maxime est voluptatum quibusdam quo doloribus sapiente
          repellendus assumenda voluptatem nemo nulla et ex facilis aliquid illo aliquam suscipit. Corrupti unde
          accusantium, commodi eligendi aperiam, minus consequatur, explicabo exercitationem consectetur facere
          praesentium! Maiores in deserunt sint, modi voluptates sunt officiis, pariatur corporis nesciunt accusamus
          repellat reprehenderit aut provident necessitatibus nisi? Ipsam explicabo fugit ullam. Autem repellendus
          consectetur laborum possimus.</p>
        <img src="assets/about-2.svg" alt="resenia-2">
        <blockquote>Ing. Valeria Ravaj</blockquote>
      </div>

      <div class="resenia-box">
        <img src="assets/about-3.svg" alt="resenia-4">
        <h3>Administración de Empresas Avicolas</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit rem aliquam dignissimos earum velit,
          incidunt explicabo possimus soluta animi, placeat autem quisquam. Aspernatur, placeat est culpa ut eligendi
          voluptas, debitis praesentium aperiam minus porro perferendis error odit laudantium accusantium ex cupiditate
          quidem non ipsum facere qui dolores totam.</p>
        <blockquote>Ing. Stephanie Brown</blockquote>
      </div>

      <div class="resenia-box">

        <h3>Operación en Granjas</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, omnis rerum quas alias tempora maxime.
          Vero numquam voluptatibus assumenda asperiores dignissimos explicabo, quaerat quidem? Laborum dolor est
          voluptatibus magni maxime ipsum incidunt neque voluptate molestias porro labore, mollitia, eum et sunt illo,
          placeat ut! Incidunt aperiam reiciendis minima ipsam aspernatur? Ullam est dolor natus accusamus? Impedit
          corporis quod, blanditiis voluptates molestias maxime est voluptatum quibusdam quo doloribus sapiente
          repellendus assumenda voluptatem nemo nulla et ex facilis aliquid illo aliquam suscipit. Corrupti unde
          accusantium, commodi eligendi aperiam, minus consequatur, explicabo exercitationem consectetur facere
          praesentium! Maiores in deserunt sint, modi voluptates sunt officiis, pariatur corporis nesciunt accusamus
          repellat reprehenderit aut provident necessitatibus nisi? Ipsam explicabo fugit ullam. Autem repellendus
          consectetur laborum possimus.</p>
        <img src="assets/about-2.svg" alt="resenia-2">
        <blockquote>Dr. Felipe Rosales</blockquote>
      </div>
    </div>

  </section>
  <!--END content-->

  <!--TODO: footer-->
  {{> footer}}
  <!--end footer-->
</body>

</html>