<html lang='es' dir='ltr' data-dark>

  <!--TODO: Head-->
  {{> head }}
  <!--head end-->
  <body>
    <div class='menu-logo'>
      <a href='inicio'>
        <img src='assets/logo.svg' alt='logo' />
      </a>
    </div>

    <!--TODO: javascript native-->
    <script src='js/script.js' type='module'></script>
  </body>

</html>