<!DOCTYPE html>
<html lang="es" dir="ltr" data-dark>

<!---TODO: head-->
{{> cssnavbar }}
<!--end head-->

<body data-dark>
  <!--TODO: header-->
 {{> header }}
  <!--end header-->

  <!--TODO: home section-->
  <div class="home-bg" data-dark>

    <section class="home">

      <div class="slide-container">

        <div class="slide active">
          <div class="image">
            <img src="assets/home-img-1.png" alt="">
          </div>
          <div class="content">
            <h3>Producto de pollo N° 1</h3>
            <div class="fas fa-angle-left"></div>
            <div class="fas fa-angle-right"></div>
          </div>
        </div>

        <div class="slide">
          <div class="image">
            <img src="assets/home-img-2.png" alt="">
          </div>
          <div class="content">
            <h3>Producto de Pollo N° 2</h3>
            <div class="fas fa-angle-left"></div>
            <div class="fas fa-angle-right"></div>
          </div>
        </div>

        <div class="slide">
          <div class="image">
            <img src="assets/home-img-3.png" alt="">
          </div>
          <div class="content">
            <h3>Producto de Pollo N° 3</h3>
            <div class="fas fa-angle-left"></div>
            <div class="fas fa-angle-right"></div>
          </div>
        </div>

        <div class="slide">
          <div class="image">
            <img src="assets/home-img-4.png" alt="">
          </div>
          <div class="content">
            <h3>Producto de Pollo N° 4</h3>
            <div class="fas fa-angle-left"></div>
            <div class="fas fa-angle-right"></div>
          </div>
        </div>

      </div>

    </section>

  </div>
  <!--TODO: empresa  section-->
  <section class="portafolio">
    <h2 class="container-title">Conoce Nuestras Áreas</h2>
    <div class="container">
      <a href="#area-1" class="portafolio-card">
        <img src="assets/portfolio-1.jpg" alt="avicola">
        <aside class="portafolio-card-info">
          <div>
            <h3>Ávicola</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex doloremque dicta odit natus impedit qui
              soluta ut dignissimos atque ratione quidem doloribus asperiores quae, non cum. Placeat quasi accusantium
              quaerat reprehenderit pariatur, animi nam minus rerum ratione tempore sunt molestias consectetur repellat
              accusamus sapiente? Nisi?.</p>
          </div>
        </aside>
      </a>
      <a href="#area-2" class="portafolio-card">
        <img src="assets/portfolio-2.jpg" alt="logistica">
        <aside class="portafolio-card-info">
          <div>
            <h3>logistica y distribución</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda molestiae, aut laudantium nulla,
              velit
              ullam hic accusantium nam cumque sequi provident. Sapiente, perspiciatis. Nemo laborum accusamus
              dignissimos, distinctio deleniti hic.</p>
          </div>
        </aside>
      </a>
      <a href="#area-3" class="portafolio-card">
        <img src="assets/portfolio-3.jpg" alt="faena">
        <aside class="portafolio-card-info">
          <div>
            <h3>faena</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, beatae fuga a quia blanditiis aspernatur
              exercitationem cum numquam, ullam esse quibusdam rerum! Ab soluta commodi dicta nihil aliquid quo quasi,
              temporibus optio sed iusto in atque natus facere esse ipsum quam voluptates modi aspernatur quibusdam
              numquam. Corrupti magni dignissimos porro atque! Quidem, quaerat dolores? Laborum iste illo vitae
              explicabo veritatis.</p>
          </div>faena
        </aside>
      </a>
      <a href="#area-4" class="portafolio-card">
        <img src="assets/portfolio-4.jpg" alt="procesados">
        <aside class="portafolio-card-info">
          <div>
            <h3>procesados</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque, ratione dignissimos? Explicabo
              impedit ea dolores minus veritatis eveniet quasi eius voluptatem sapiente earum, architecto soluta libero
              officia odit fuga amet magni aliquid! Ratione quo quibusdam, at consequatur illo perspiciatis blanditiis
              aliquam dolor voluptate saepe eveniet ipsam hic dolorem. Magnam officiis culpa dolores eaque cumque iste
              beatae exercitationem dolor veritatis deserunt.</p>
          </div>
        </aside>
      </a>
      <a href="#area-5" class="portafolio-card">
        <img src="assets/portfolio-5.jpg" alt="administracion">
        <aside class="portafolio-card-info">
          <div>
            <h3>administración</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum maxime consectetur iusto incidunt
              molestiae ad nihil laboriosam asperiores veniam rerum repudiandae necessitatibus, qui eius quod ratione
              fuga. Aliquid consectetur error officia, sed esse fugit vero asperiores cumque quis.</p>
          </div>
        </aside>
      </a>
      <a href="#area-6" class="portafolio-card">
        <img src="assets/portfolio-6.jpg" alt="contabilidad">
        <aside class="portafolio-card-info">
          <div>
            <h3>contabilidad y finanzas</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda molestiae, aut laudantium nulla,
              velit
              ullam hic accusantium nam cumque sequi provident. Sapiente, perspiciatis. Nemo laborum accusamus
              dignissimos, distinctio deleniti hic.</p>
          </div>
        </aside>
      </a>
      <a href="#area-7" class="portafolio-card">
        <img src="assets/portfolio-1.jpg" alt="planificacion">
        <aside class="portafolio-card-info">
          <div>
            <h3>planificación</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda molestiae, aut laudantium nulla,
              velit
              ullam hic accusantium nam cumque sequi provident. Sapiente, perspiciatis. Nemo laborum accusamus
              dignissimos, distinctio deleniti hic.</p>
          </div>
        </aside>
      </a>
      <a href="#area-8" class="portafolio-card">
        <img src="assets/portfolio-2.jpg" alt="estrategica">
        <aside class="portafolio-card-info">
          <div>
            <h3>estrategica y control de gestión</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi voluptate modi quaerat sapiente facere
              quibusdam porro distinctio hic quia, ratione qui id dolores expedita dicta debitis repellat in dolor. Eum,
              cum dignissimos? Unde rem praesentium quaerat ad?</p>
          </div>
        </aside>
      </a>
      <a href="#area-9" class="portafolio-card">
        <img src="assets/portfolio-3.jpg" alt="calidad">
        <aside class="portafolio-card-info">
          <div>
            <h3>calidad e inocuidad</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus consectetur facere nulla dignissimos
              itaque voluptas dolorem sed quisquam tempora earum, expedita iusto, incidunt quas voluptate provident nam
              aspernatur nemo quidem ab quam, id repellat! Natus voluptas veniam amet animi qui odit ea veritatis cum
              repellendus incidunt excepturi, quas atque, sint cumque, quia at ullam porro temporibus consequuntur
              asperiores. Asperiores, nostrum at totam veniam beatae quas provident eveniet vitae animi velit!</p>
          </div>
        </aside>
      </a>
      <a href="#area-10" class="portafolio-card">
        <img src="assets/portfolio-4.jpg" alt="recursos">
        <aside class="portafolio-card-info">
          <div>
            <h3>recursos humanos</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus consectetur facere nulla dignissimos
              itaque voluptas dolorem sed quisquam tempora earum, expedita iusto, incidunt quas voluptate provident nam
              aspernatur nemo quidem ab quam, id repellat! Natus voluptas veniam amet animi qui odit ea veritatis cum
              repellendus incidunt excepturi, quas atque, sint cumque, quia at ullam porro temporibus consequuntur
              asperiores. Asperiores, nostrum at totam veniam beatae quas provident eveniet vitae animi velit!</p>
          </div>
        </aside>
      </a>
      <a href="#area-11" class="portafolio-card">
        <img src="assets/portfolio-2.jpg" alt="sistemas">
        <aside class="portafolio-card-info">
          <div>
            <h3>sistemas</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus consectetur facere nulla dignissimos
              itaque voluptas dolorem sed quisquam tempora earum, expedita iusto, incidunt quas voluptate provident nam
              aspernatur nemo quidem ab quam, id repellat! Natus voluptas veniam amet animi qui odit ea veritatis cum
              repellendus incidunt excepturi, quas atque, sint cumque, quia at ullam porro temporibus consequuntur
              asperiores. Asperiores, nostrum at totam veniam beatae quas provident eveniet vitae animi velit!</p>
          </div>
        </aside>
      </a>
      <a href="#area-12" class="portafolio-card">
        <img src="assets/portfolio-1.jpg" alt="legal">
        <aside class="portafolio-card-info">
          <div>
            <h3>legal</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus consectetur facere nulla dignissimos
              itaque voluptas dolorem sed quisquam tempora earum, expedita iusto, incidunt quas voluptate provident nam
              aspernatur nemo quidem ab quam, id repellat! Natus voluptas veniam amet animi qui odit ea veritatis cum
              repellendus incidunt excepturi, quas atque, sint cumque, quia at ullam porro temporibus consequuntur
              asperiores. Asperiores, nostrum at totam veniam beatae quas provident eveniet vitae animi velit!</p>
          </div>
        </aside>
      </a>
    </div>
  </section>

  <article class="modal" id="area-1">
    <div class="modal-content">
      <a href="#close" class="modal-close"><i class="fas fa-times" id="close"></i>
      </a>
      <article class="portafolio-modal">
        <img src="assets/pic-1.png" alt="avicola">
        <div class="portafolio-info-modal">
          <h3>Área</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit illo ex commodi corrupti in asperiores
            inventore facere vero sapiente, dicta est quas animi distinctio at consequuntur hic aliquam delectus cumque!
          </p>
          <aside class="portafolio-details">
            <small><b>Responsable:</b>juanito tintaya</small>
            <small><b>Objetivo:</b>Mejora del manejo de aves en granja</small>
            <small><b>Proyecto:</b>tecnificación de galpones</small>
            <small><b>Personal:</b>Trabajadores con mas 15 años de experiencia</small>
          </aside>
        </div>
      </article>
    </div>
  </article>
  <article class="modal" id="area-2">
    <div class="modal-content">
      <a href="#close" class="modal-close"><i class="fas fa-times" id="close"></i>
      </a>
      <article class="portafolio-modal">
        <img src="assets/pic-2.png" alt="avicola">
        <div class="portafolio-info-modal">
          <h3>Área</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit illo ex commodi corrupti in asperiores
            inventore facere vero sapiente, dicta est quas animi distinctio at consequuntur hic aliquam delectus cumque!
          </p>
          <aside class="portafolio-details">
            <small><b>Responsable:</b>juanito tintaya</small>
            <small><b>Objetivo:</b>Mejora del manejo de aves en granja</small>
            <small><b>Proyecto:</b>tecnificación de galpones</small>
            <small><b>Personal:</b>Trabajadores con mas 15 años de experiencia</small>
          </aside>
        </div>
      </article>
    </div>
  </article>
  <article class="modal" id="area-3">
    <div class="modal-content">
      <a href="#close" class="modal-close"><i class="fas fa-times" id="close"></i>
      </a>
      <article class="portafolio-modal">
        <img src="assets/pic-3.png" alt="avicola">
        <div class="portafolio-info-modal">
          <h3>Área</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit illo ex commodi corrupti in asperiores
            inventore facere vero sapiente, dicta est quas animi distinctio at consequuntur hic aliquam delectus cumque!
          </p>
          <aside class="portafolio-details">
            <small><b>Responsable:</b>juanito tintaya</small>
            <small><b>Objetivo:</b>Mejora del manejo de aves en granja</small>
            <small><b>Proyecto:</b>tecnificación de galpones</small>
            <small><b>Personal:</b>Trabajadores con mas 15 años de experiencia</small>
          </aside>
        </div>
      </article>
    </div>
  </article>
  <article class="modal" id="area-4">
    <div class="modal-content">
      <a href="#close" class="modal-close"><i class="fas fa-times" id="close"></i>
      </a>
      <article class="portafolio-modal">
        <img src="assets/pic-4.png" alt="avicola">
        <div class="portafolio-info-modal">
          <h3>Área</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit illo ex commodi corrupti in asperiores
            inventore facere vero sapiente, dicta est quas animi distinctio at consequuntur hic aliquam delectus cumque!
          </p>
          <aside class="portafolio-details">
            <small><b>Responsable:</b>juanito tintaya</small>
            <small><b>Objetivo:</b>Mejora del manejo de aves en granja</small>
            <small><b>Proyecto:</b>tecnificación de galpones</small>
            <small><b>Personal:</b>Trabajadores con mas 15 años de experiencia</small>
          </aside>
        </div>
      </article>
    </div>
  </article>
  <article class="modal" id="area-5">
    <div class="modal-content">
      <a href="#close" class="modal-close"><i class="fas fa-times" id="close"></i>
      </a>
      <article class="portafolio-modal">
        <img src="assets/pic-1.png" alt="avicola">
        <div class="portafolio-info-modal">
          <h3>Área</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit illo ex commodi corrupti in asperiores
            inventore facere vero sapiente, dicta est quas animi distinctio at consequuntur hic aliquam delectus cumque!
          </p>
          <aside class="portafolio-details">
            <small><b>Responsable:</b>juanito tintaya</small>
            <small><b>Objetivo:</b>Mejora del manejo de aves en granja</small>
            <small><b>Proyecto:</b>tecnificación de galpones</small>
            <small><b>Personal:</b>Trabajadores con mas 15 años de experiencia</small>
          </aside>
        </div>
      </article>
    </div>
  </article>
  <article class="modal" id="area-6">
    <div class="modal-content">
      <a href="#close" class="modal-close"><i class="fas fa-times" id="close"></i>
      </a>
      <article class="portafolio-modal">
        <img src="assets/pic-2.png" alt="avicola">
        <div class="portafolio-info-modal">
          <h3>Área</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit illo ex commodi corrupti in asperiores
            inventore facere vero sapiente, dicta est quas animi distinctio at consequuntur hic aliquam delectus cumque!
          </p>
          <aside class="portafolio-details">
            <small><b>Responsable:</b>juanito tintaya</small>
            <small><b>Objetivo:</b>Mejora del manejo de aves en granja</small>
            <small><b>Proyecto:</b>tecnificación de galpones</small>
            <small><b>Personal:</b>Trabajadores con mas 15 años de experiencia</small>
          </aside>
        </div>
      </article>
    </div>
  </article>
  <article class="modal" id="area-7">
    <div class="modal-content">
      <a href="#close" class="modal-close"><i class="fas fa-times" id="close"></i>
      </a>
      <article class="portafolio-modal">
        <img src="assets/pic-3.png" alt="avicola">
        <div class="portafolio-info-modal">
          <h3>Área</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit illo ex commodi corrupti in asperiores
            inventore facere vero sapiente, dicta est quas animi distinctio at consequuntur hic aliquam delectus cumque!
          </p>
          <aside class="portafolio-details">
            <small><b>Responsable:</b>juanito tintaya</small>
            <small><b>Objetivo:</b>Mejora del manejo de aves en granja</small>
            <small><b>Proyecto:</b>tecnificación de galpones</small>
            <small><b>Personal:</b>Trabajadores con mas 15 años de experiencia</small>
          </aside>
        </div>
      </article>
    </div>
  </article>
  <article class="modal" id="area-8">
    <div class="modal-content">
      <a href="#close" class="modal-close"><i class="fas fa-times" id="close"></i>
      </a>
      <article class="portafolio-modal">
        <img src="assets/pic-4.png" alt="avicola">
        <div class="portafolio-info-modal">
          <h3>Área</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit illo ex commodi corrupti in asperiores
            inventore facere vero sapiente, dicta est quas animi distinctio at consequuntur hic aliquam delectus cumque!
          </p>
          <aside class="portafolio-details">
            <small><b>Responsable:</b>juanito tintaya</small>
            <small><b>Objetivo:</b>Mejora del manejo de aves en granja</small>
            <small><b>Proyecto:</b>tecnificación de galpones</small>
            <small><b>Personal:</b>Trabajadores con mas 15 años de experiencia</small>
          </aside>
        </div>
      </article>
    </div>
  </article>
  <article class="modal" id="area-9">
    <div class="modal-content">
      <a href="#close" class="modal-close"><i class="fas fa-times" id="close"></i>
      </a>
      <article class="portafolio-modal">
        <img src="assets/pic-1.png" alt="avicola">
        <div class="portafolio-info-modal">
          <h3>Área</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit illo ex commodi corrupti in asperiores
            inventore facere vero sapiente, dicta est quas animi distinctio at consequuntur hic aliquam delectus cumque!
          </p>
          <aside class="portafolio-details">
            <small><b>Responsable:</b>juanito tintaya</small>
            <small><b>Objetivo:</b>Mejora del manejo de aves en granja</small>
            <small><b>Proyecto:</b>tecnificación de galpones</small>
            <small><b>Personal:</b>Trabajadores con mas 15 años de experiencia</small>
          </aside>
        </div>
      </article>
    </div>
  </article>
  <article class="modal" id="area-10">
    <div class="modal-content">
      <a href="#close" class="modal-close"><i class="fas fa-times" id="close"></i>
      </a>
      <article class="portafolio-modal">
        <img src="assets/pic-2.png" alt="avicola">
        <div class="portafolio-info-modal">
          <h3>Área</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit illo ex commodi corrupti in asperiores
            inventore facere vero sapiente, dicta est quas animi distinctio at consequuntur hic aliquam delectus cumque!
          </p>
          <aside class="portafolio-details">
            <small><b>Responsable:</b>juanito tintaya</small>
            <small><b>Objetivo:</b>Mejora del manejo de aves en granja</small>
            <small><b>Proyecto:</b>tecnificación de galpones</small>
            <small><b>Personal:</b>Trabajadores con mas 15 años de experiencia</small>
          </aside>
        </div>
      </article>
    </div>
  </article>
  <article class="modal" id="area-11">
    <div class="modal-content">
      <a href="#close" class="modal-close"><i class="fas fa-times" id="close"></i>
      </a>
      <article class="portafolio-modal">
        <img src="assets/pic-3.png" alt="avicola">
        <div class="portafolio-info-modal">
          <h3>Área</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit illo ex commodi corrupti in asperiores
            inventore facere vero sapiente, dicta est quas animi distinctio at consequuntur hic aliquam delectus cumque!
          </p>
          <aside class="portafolio-details">
            <small><b>Responsable:</b>juanito tintaya</small>
            <small><b>Objetivo:</b>Mejora del manejo de aves en granja</small>
            <small><b>Proyecto:</b>tecnificación de galpones</small>
            <small><b>Personal:</b>Trabajadores con mas 15 años de experiencia</small>
          </aside>
        </div>
      </article>
    </div>
  </article>
  <article class="modal" id="area-12">
    <div class="modal-content">
      <a href="#close" class="modal-close"><i class="fas fa-times" id="close"></i>
      </a>
      <article class="portafolio-modal">
        <img src="assets/pic-4.png" alt="avicola">
        <div class="portafolio-info-modal">
          <h3>Área</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit illo ex commodi corrupti in asperiores
            inventore facere vero sapiente, dicta est quas animi distinctio at consequuntur hic aliquam delectus cumque!
          </p>
          <aside class="portafolio-details">
            <small><b>Responsable:</b>juanito tintaya</small>
            <small><b>Objetivo:</b>Mejora del manejo de aves en granja</small>
            <small><b>Proyecto:</b>tecnificación de galpones</small>
            <small><b>Personal:</b>Trabajadores con mas 15 años de experiencia</small>
          </aside>
        </div>
      </article>
    </div>
  </article>
  <!--end empresa  section-->

  <!--TODO: footer section-->
    <!--TODO: footer-->
  {{> footer}}
  <!--end footer-->
</body>

</html>