<!DOCTYPE html>
<html lang="es" dir="ltr" data-dark>

<!---TODO: head-->
{{> cssnavbar }}
<!--end head-->

<body data-dark>
  <!--TODO: header-->
 {{> header }}
  <!--end header-->

<!--TODO: LOCATION-->
<section class="location">
  <h2 class="contacto-title">Nuestras Ubicaciones en Bolivia</h2>
  <div class="location-box">
    <div class="box">
      <h2>Santa Cruz</h2>
      <div class="direccion">
        <div class="direccion-container">
          <p><b><i>Dirección: </i></b>Parque Industrial Manzana 17 (PI MZ 17)</p>
          <p><b><i>Telefono:</i></b> (+591) 334 64483</p>
        </div>
        <div class="gmaps"><iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3799.6657380325064!2d-63.140771900123575!3d-17.760382279036346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93f1e62380f01649%3A0x9c2804155b4d3c96!2sAlimentos%20AVESCA%20S.A.%20-%20Pollos%20IMBA!5e0!3m2!1ses!2sbo!4v1650136582677!5m2!1ses!2sbo"
            width="600" height="450" style="border:0;" allowfullscreen="4" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe></div>
      </div>
    </div>

    <div class="box">
      <h2>Cochabamba</h2>
      <div class="direccion">
        <div class="direccion-container">
          <p><b><i>Dirección: </i></b>Av. Segunda enre C. Alexander Fleming <br> y Av. Arquimides s/n Zona Villa Bush
          </p>
          <p><b><i>Telefono:</i></b> (+591) 444 34506</p>
        </div>
        <div class="gmaps"><iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60917.148277180655!2d-66.19979831132875!3d-17.39633927498855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93e3737cf7d100c7%3A0x8f2aa771c5b3d51a!2sIndustria%20Av%C3%ADcola%20Imba!5e0!3m2!1ses!2sbo!4v1650142755183!5m2!1ses!2sbo"
            width="600" height="450" style="border:0;" allowfullscreen="4" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe></div>
      </div>
    </div>
    <div class="box">
      <h2>el Alto</h2>
      <div class="direccion">
        <div class="direccion-container">
          <p><b><i>Dirección: </i></b>Av. Franco Valle N°60 Zona 12 de octubre (ceja)</p>
          <p><b><i>Telefono:</i></b> (+591) 228 29411</p>
        </div>
        <div class="gmaps"><iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3825.3663407067397!2d-68.1647649501496!3d-16.5075929452402!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915edf99983a2213%3A0xed3e62f04c41a9d6!2sImba!5e0!3m2!1ses!2sbo!4v1650142845932!5m2!1ses!2sbo"
            width="600" height="450" style="border:0;" allowfullscreen="4" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe></div>
      </div>
    </div>
    <div class="box">
      <h2>Oruro</h2>
      <div class="direccion">
        <div class="direccion-container">
          <p><b><i>Dirección: </i></b>Av. 6 de Agosto N° 935 Entre Herera y Montecinos</p>
          <p><b><i>Telefono:</i></b> (+591) 55283712</p>
        </div>
        <div class="gmaps"><iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30173.035900429684!2d-65.28088907572105!3d-19.036041552107296!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93fbc8a145c17ad9%3A0xd31924135650789e!2sPOLLOS%20IMBA%20S.A.%20(%20Agencia%20CENTRAL%20SUCRE%20)!5e0!3m2!1ses!2sbo!4v1650142921731!5m2!1ses!2sbo"
            width="600" height="450" style="border:0;" allowfullscreen="4" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe></div>
      </div>
    </div>
    <div class="box">
      <h2>La Paz</h2>
      <div class="direccion">
        <div class="direccion-container">
          <p><b><i>Dirección: </i></b>Calle Puente Villa esq. Ocobaya N° 1287 Zona Villa Fatima</p>
          <p><b><i>Telefono:</i></b> (+591) 222 10913</p>
        </div>
        <div class="gmaps"><iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3825.9220954634948!2d-68.12218125015019!3d-16.479481944510113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915f2017e5774101%3A0x653a07c098a469cb!2sPollos%20Imba%20Frial%20Villa%20F%C3%A1tima!5e0!3m2!1ses!2sbo!4v1650143023565!5m2!1ses!2sbo"
            width="600" height="450" style="border:0;" allowfullscreen="4" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe></div>
      </div>
    </div>
    <div class="box">
      <h2>Sucre</h2>
      <div class="direccion">
        <div class="direccion-container">
          <p><b><i>Dirección: </i></b>Av. Los Andes esq. Cusco, Zona Alto San Pedro</p>
          <p><b><i>Telefono:</i></b> (+591) 664 68178</p>
        </div>
        <div class="gmaps"><iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.8355070899706!2d-65.28302015009571!3d-19.026968715711302!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93fbc8a145c17ad9%3A0xd31924135650789e!2sPOLLOS%20IMBA%20S.A.%20(%20Agencia%20CENTRAL%20SUCRE%20)!5e0!3m2!1ses!2sbo!4v1650143091076!5m2!1ses!2sbo"
            width="600" height="450" style="border:0;" allowfullscreen="4" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe></div>
      </div>
    </div>

  </div>
</section>
<!--END LOCATION-->

  <!--TODO: footer-->
  {{> footer}}
  <!--end footer-->
</body>

</html>