<!DOCTYPE html>
<html lang="es" dir="ltr" data-dark>

<!---TODO: head-->
{{> cssnavbar }}
<!--end head-->

<body data-dark>
  <!--TODO: header-->
 {{> header }}
  <!--end header-->

  <!--TODO: Nosotros section-->
  <section class="hero-image">
    <aside class="hero-image-opacity">
      <div class="hero-image-content">
        <h2 class="hero-image-title">
          <span>58 años</span> en el mercado nacional
        </h2><br>
        <div class="hero-image-navbar">
          <a href="#historia" class="btn">historia</a>
          <a href="#vision" class="btn">Visión</a>
          <a href="#mision" class="btn">Misión</a>
          <a href="#valores" class="btn">Valores</a>
          <a href="#calidad" class="btn">Calidad</a>
          <a href="#inocuidad" class="btn">inocuidad</a>
        </div>
      </div>
    </aside>
  </section>
  <!--end nosotros section-->

  <!--TODO: mensaje section-->
  <section class="presidencia">
    <h2>Palabras del Presidente</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sit adipisci dolor asperiores libero optio neque
      dolores fugiat commodi laboriosam harum, a ex sunt delectus quaerat obcaecati. Ex sed labore ipsum minima
      veritatis nesciunt laborum, deleniti impedit et odio eius ducimus maxime nisi eligendi commodi ad perspiciatis
      at atque fugit inventore voluptatem reiciendis repellendus exercitationem dolorem. Odit eaque nemo voluptate
      quasi, harum sunt rem accusamus fugit facere aspernatur eius fugiat sed consequuntur, quae non deserunt
      reprehenderit repellat vero esse, laborum temporibus minima ad neque. Ullam laborum blanditiis ipsum. Cupiditate
      ipsam quaerat hic, natus et ea non atque a perferendis asperiores. Consequatur voluptas labore quas delectus
      est, quasi non repellendus ut ipsum odit! Rerum, autem ab nisi quis aspernatur ducimus possimus!</p>
    <img src="assets/pic-3.png" alt="presidente" class="float-right shape-1">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero ipsam voluptate et architecto suscipit,
      aperiam ea facere dolorum enim dolore nulla mollitia beatae, quidem, labore autem aut fugiat adipisci eius quia
      incidunt recusandae aspernatur iusto vel. Fuga est, eos amet molestias aliquam neque illo earum corrupti nobis
      vitae quisquam odio enim alias voluptatibus explicabo quod dolores. Quidem corrupti unde, autem, nam omnis
      asperiores quis magni illum necessitatibus assumenda fuga, ad quibusdam nostrum est veritatis? Dignissimos
      aliquid nisi molestiae consequuntur accusantium at, explicabo odio asperiores itaque odit quasi rerum magni
      soluta quis nam. Ad odit enim, aliquid dolores unde tenetur voluptatibus illum sunt sapiente similique
      perferendis quae ducimus possimus dignissimos dolore aliquam reiciendis quasi! Iure voluptatibus, accusantium
      quibusdam natus veritatis veniam asperiores illo excepturi provident quaerat minus delectus nam id molestiae,
      voluptatum saepe ratione atque non suscipit numquam! Enim expedita officiis earum repellendus, libero odit ea
      voluptate optio debitis consequuntur ad!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores accusamus, facilis consectetur recusandae
      rerum optio commodi nobis atque, itaque sint veritatis nisi deleniti at ad pariatur exercitationem enim nam cum
      tempora minus repellendus! Consequuntur soluta odit tenetur voluptates! Excepturi sequi perferendis porro et
      culpa temporibus maxime eos deleniti.</p>
  </section>
  <!--end mensaje section-->

  <!--TODO: contenido section-->
  <section class="container">
    <h2>Imba</h2>
    <article id="historia" class="historia">
      <h3>Historia</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos a cupiditate officia perspiciatis fuga rem
        amet adipisci hic quod nesciunt ab quam doloremque quia, molestias dolore nihil sapiente eius recusandae nemo,
        veniam eligendi vel dolorem cum repellendus? Ducimus quisquam earum neque harum placeat, eveniet dolorum magni
        culpa accusamus voluptatem pariatur aliquid illum, officiis asperiores rerum aliquam laborum quas modi magnam?
        Aspernatur assumenda voluptatum totam est officia ratione repellat! Voluptatum voluptatibus impedit maiores
        ducimus rem? Incidunt officiis sequi expedita odit quibusdam hic possimus, cumque animi veniam? Distinctio
        quaerat ullam soluta sunt, sint numquam corporis debitis est inventore assumenda minus eligendi, harum neque
        quam aliquam a consequuntur eius commodi minima, sequi esse enim nostrum! Voluptate eos aperiam asperiores
        laudantium nam est nobis voluptatem ea itaque consequuntur commodi, dignissimos illum. Aliquam amet possimus
        dolorum velit laborum inventore vero quam! Placeat natus consequatur, accusantium sapiente dicta quidem labore
        veritatis architecto maxime tenetur vitae necessitatibus a, velit impedit ex repellat! Consequuntur velit sed
        adipisci? Quos id accusantium, sapiente saepe ratione aliquid deleniti quasi nulla quo, deserunt dignissimos
        dicta maiores obcaecati quaerat porro optio velit asperiores repellat quibusdam harum soluta vel expedita non
        provident? Ipsam nesciunt numquam quos accusantium non? Ea doloribus earum quidem iure officia sint cum
        doloremque eveniet, odio error eum neque numquam adipisci velit, voluptatibus blanditiis molestiae nostrum quis
        nisi libero dicta quod unde vitae commodi? Minus error delectus officiis perferendis tempore excepturi
        architecto quas amet repellendus libero fugit porro nihil velit, voluptatum dolore doloribus! Quasi, excepturi
        eius? Autem architecto qui, tempore voluptatibus nisi eveniet? Soluta repellat itaque, nesciunt nisi, quaerat
        neque sed officiis vitae ipsam sunt inventore, ab modi voluptas aspernatur corrupti. Rem nisi, quod mollitia
        nesciunt sed, est tempore quos minima possimus maiores obcaecati ab totam earum aspernatur officiis. Dolore
        cumque suscipit dolores esse. Eligendi illo suscipit reprehenderit cum aperiam molestias!</p>
    </article>
    <hr>
    <article class="vision" id="vision">
      <div class="vision-container">
        <div class="vision-container-text">
          <h3>Visión</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto ipsum exercitationem ducimus veritatis
            rem repellat et, sint illo?</p>
        </div>
        <img src="./assets/img_01.jpeg" alt="visión">
      </div>
      <hr>
      <article class="mision" id="mision">
        <div class="mision-container">
          <img src="./assets/img_02.webp" alt="misión">
          <div class="mision-container-text">
            <h3>Misión</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto ipsum exercitationem ducimus
              veritatis
              rem repellat et, sint illo?</p>
          </div>
        </div>
        <hr>
        <article class="valores" id="valores">
          <div class="valores-container">

            <div class="valores-container-text">
              <h3>Nuestros valores</h3>
              <dl>
                <dt>Valor 1</dt>
                <dd>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, quidem.</dd>
                <dt>Valor 2</dt>
                <dd>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, quidem.</dd>
                <dt>Valor 3</dt>
                <dd>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, quidem.</dd>
                <dt>Valor 4</dt>
                <dd>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, quidem.</dd>
              </dl>
            </div>
            <img src="./assets/img_04.webp" alt="valores">
          </div>
          <hr>
          <article class="calidad" id="calidad">
            <div class="calidad-container">
              <img src="./assets/img_05.jpg" alt="calidad">
              <div class="calidad-container-text">
                <h3>calidad</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ipsam dolorum, aspernatur sed culpa,
                  blanditiis nihil totam aliquid, recusandae itaque temporibus nemo ipsum! Eveniet ipsum quod quis
                  explicabo dignissimos voluptates cupiditate, quasi dolore corrupti perferendis, quos repellendus
                  excepturi commodi dolores voluptatibus, praesentium architecto natus ipsam enim error! Molestias iusto
                  asperiores sed reiciendis. Id adipisci exercitationem iste voluptate reprehenderit labore quos magnam
                  ipsa voluptatem eum dignissimos autem error fugiat aperiam officiis rem, laborum est distinctio?
                  Voluptatum omnis distinctio debitis doloremque fugiat?</p>
              </div>
            </div>

          </article>
          <hr>
          <article class="inocuidad" id="inocuidad">
            <div class="inocuidad-container">

              <div class="inocuidad-container-text">
                <h3>inocuidad</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ipsam dolorum, aspernatur sed culpa,
                  blanditiis nihil totam aliquid, recusandae itaque temporibus nemo ipsum! Eveniet ipsum quod quis
                  explicabo dignissimos voluptates cupiditate, quasi dolore corrupti perferendis, quos repellendus
                  excepturi commodi dolores voluptatibus, praesentium architecto natus ipsam enim error! Molestias iusto
                  asperiores sed reiciendis. Id adipisci exercitationem iste voluptate reprehenderit labore quos magnam
                  ipsa voluptatem eum dignissimos autem error fugiat aperiam officiis rem, laborum est distinctio?
                  Voluptatum omnis distinctio debitis doloremque fugiat?</p>
              </div>
              <img src="./assets/img_06.jpg" alt="inocuidad">
            </div>
            <hr>
          </article>
  </section>
  <!--end contenido section-->


   <!--TODO: footer-->
  {{> footer}}
  <!--end footer-->
</body>

</html>