<!DOCTYPE html>
<html lang="es" dir="ltr" data-dark>

<!---TODO: head-->
{{> cssnavbar }}
<!--end head-->

<body data-dark>
  <!--TODO: header-->
 {{> header }}
  <!--end header-->

  <!--TODO: hero section-->
  <section class="hero">
    <div class="banner">
      <h2 class="banner-title">Conoce todos nuestros productos</h2>
      <a class="banner-btn" href="contactate.html">Contactanos</a>
    </div>
  </section>
  <!--end section hero-->

  <!--TODO: products section-->
  <section class="productos">
    <h2 class="heading">Pollo Entero</h2>
    <hr>
    <div class="box-container">
      <!-- <div class="box">
        <div class="price">$<span>2</span></div>
        <img src="./assets/1.png" alt="1">
        <div class="name">producto 1</div>
        <div class="description">
          <div class="description-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque at suscipit
            veritatis?</div>
          <div class="btn">a Nivel Nacional</div>
        </div>
      </div> -->
    </div>
  </section>

  <!--end section products-->

  <!--TODO: home section-->
  <!--TODO: footer-->
  {{> footer}}
  <!--end footer-->
</body>

</html>