<!DOCTYPE html>
<html lang="es" dir="ltr" data-dark>

<!---TODO: head-->
{{> cssnavbar }}
<!--end head-->

<body data-dark>
  <!--TODO: header-->
 {{> header }}
  <!--end header-->

  <!--TODO: home section-->
  <div class="home-bg" data-dark>

    <section class="home">

      <div class="slide-container">

        <div class="slide active">
          <div class="image">
            <img src="assets/home-img-1.png" alt="">
          </div>
          <div class="content">
            <h3>Producto de pollo N째 1</h3>
            <p class="content-precio">BOB 25.50/kg</p>
            <p class="content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum officia consectetur
              quibusdam?</p>
            <i class="fa fa-phone" aria-hidden="true"></i>
            <a href="contactate.html" class="content-btn">Ponte en contacto con
              nosotros</a>
            <div class="fas fa-angle-left"></div>
            <div class="fas fa-angle-right"></div>
          </div>
        </div>

        <div class="slide">
          <div class="image">
            <img src="assets/home-img-2.png" alt="">
          </div>
          <div class="content">
            <h3>Producto de pollo N째 2</h3>
            <p class="content-precio">BOB 100.50/kg</p>
            <p class="content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum officia consectetur
              quibusdam?</p>
            <i class="fa fa-phone" aria-hidden="true"></i>
            <a href="contactate.html" class="content-btn">Ponte en contacto con
              nosotros</a>
            <div class="fas fa-angle-left"></div>
            <div class="fas fa-angle-right"></div>
          </div>
        </div>

        <div class="slide">
          <div class="image">
            <img src="assets/home-img-3.png" alt="">
          </div>
          <div class="content">
            <h3>Producto de pollo N째 3</h3>
            <p class="content-precio">BOB 5.50/kg</p>
            <p class="content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum officia consectetur
              quibusdam?</p>
            <i class="fa fa-phone" aria-hidden="true"></i>
            <a href="contactate.html" class="content-btn">Ponte en contacto con
              nosotros</a>
            <div class="fas fa-angle-left"></div>
            <div class="fas fa-angle-right"></div>
          </div>
        </div>

        <div class="slide">
          <div class="image">
            <img src="assets/home-img-4.png" alt="">
          </div>
          <div class="content">
            <h3>Producto de pollo N째 4</h3>
            <p class="content-precio">BOB 12.50/kg</p>
            <p class="content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum officia consectetur
              quibusdam?</p>
            <i class="fa fa-phone" aria-hidden="true"></i>
            <a href="contactate.html" class="content-btn">Ponte en contacto con
              nosotros</a>
            <div class="fas fa-angle-left"></div>
            <div class="fas fa-angle-right"></div>
          </div>
        </div>

      </div>

    </section>

  </div>
   <!--TODO: end section-->

   <!--TODO: footer-->
  {{> footer}}
  <!--end footer-->
</body>

</html>